@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Source+Sans+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    margin: 30px 30px;
    border: 2px solid lightgray;
    font-family: outfit;
    width: 60vw;
    height: 70vh;
    font-size: 30px;
}

.block {
    margin: 10px 10px auto;
    border: 1px solid lightgray;
    width: 25vw;
    border-top: transparent;
    border-left: transparent;
    border-bottom: transparent;
}

a {
    font-family: outfit;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.box{
    padding: 1rem;
    border: 1px solid lightgray;
    width: 20rem;
    height: 5rem;
    background-color: rgb(55, 106, 173);
}

.box2{
    padding: 1rem;
    border: 1px solid lightgray;
    width: 20rem;
    height: 5rem;
    background-color: crimson;
}

.box3 {
    padding: 1rem;
    border: 1px solid lightgray;
    width: 20rem;
    height: 5rem;
    background-color: rgb(157, 220, 245);
}

.box, .box2, .box3{
    display: block;
    margin: 70px;
}

.right {
    position: relative;
    left: 33rem;
    bottom: 33rem;
    margin: 10px 10px auto;
    padding-right: 2rem;
    border: 1px solid lightgray;
    width: 30rem;
    height: 32.5rem;
    position: relative;
     font-family: outfit;
    font-size: 10px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent; 
}

h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700;
}

div form {
    border: none;
}


input::placeholder {
    font-family: outfit;
    font-size: 20px;
    text-align: center;
    width: 10rem;
   

}
input {
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
             
}

#email {
 position: relative;
 top: 4rem;
 left: 5rem;
 border-bottom: 2px solid gray;
 height: 2rem;
}

#password {
    position: relative;
    top: 12rem;
    right: 6rem;
    width: 15rem;
    height: 2rem;
    border-bottom: 2px solid gray;
}

p {
    position: relative;
    top: 18rem;
    left: 6rem;
    color:rgb(90, 88, 88);
    font-weight: 700;
    font-family: outfit;
    font-size: 25px;
}

#send {
    position: relative;
    top: 16rem;
    left: 20rem;
    font-family: outfit;
    color: white;
    font-size: 20px;
    background-color: rgb(65, 173, 223);
    width: 9vw;
    height: 6vh;
    border-radius: 10%;
    border-bottom: 2px solid rgb(65, 173, 223);
}

.footer {
    font-size: 20px;
    width: 60vw;
    height: 8vh;
    background-color: lightskyblue;
    opacity: 0.7;
    position: relative;
    bottom: 33rem;

}

h2 {
 font-family: outfit;
    font-size: 28px;
    color: rgb(10, 80, 231);
    position: relative;
    top: 1rem;
    text-align: center;
    z-index: -1;
}

.checkbox {
    position: relative;
    width: 3vw;
    height: 3vh;
    top: 19.5rem;
    left: 3rem;
}

.fa-regular {
    position: relative;
    left: 37rem;
    bottom: 67rem;
}
.fas {
    position: relative;
    left: 35rem;
    bottom: 59rem;
}

.or {
    font-family: outfit;
    font-size: 26px;
    color: gray;
    border: 1px solid gray;
    width: 5vw;
    height: 7.5vh;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 28rem;
    bottom: 55rem;
} 

h3 {
    text-align: center;
}