@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Source+Sans+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    margin: 20px 20px;
    border: 2px solid black;
    font-family: outfit;
    width: 95vw;
    height: 85vh;
    font-size: 30px;
}