@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Source+Sans+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    margin: 30px 30px;
    border: 2px solid lightgray;
    font-family: outfit;
    width: 85vw;
    height: 75vh;
    font-size: 30px;
}

.block {
    margin: 10px 10px auto;
    border: 1px solid lightgray;
    width: 30rem;
}

.box{
    padding: 1rem;
    border: 1px solid lightgray;
    width: 20rem;
    height: 5rem;
    background-color: rgb(55, 106, 173);
}

.box2{
    padding: 1rem;
    border: 1px solid lightgray;
    width: 20rem;
    height: 5rem;
    background-color: crimson;
}

.box3 {
    padding: 1rem;
    border: 1px solid lightgray;
    width: 20rem;
    height: 5rem;
    background-color: rgb(157, 220, 245);
}

.box, .box2, .box3{
    display: block;
    margin: 70px;
}

.right {
    position: relative;
    left: 33rem;
    bottom: 33rem;
    margin: 10px 10px auto;
    border: 1px solid lightgray;
    width: 30rem;
    height: 30rem;
    position: relative;
     font-family: outfit;
    font-size: 10px;
}

h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700;
}

div form {
    border: none;
}


input::placeholder {
    font-family: outfit;
    font-size: 20px;
    text-align: center;
    width: 10rem;
   

}
input {
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
             
}

#email {
 position: relative;
 top: 4rem;
 left: 5rem;
 border-bottom: 2px solid gray;
 height: 2rem;
}

#password {
    position: relative;
    top: 12rem;
    right: 6rem;
    width: 15rem;
    height: 2rem;
    border-bottom: 2px solid gray;
}

p {
    position: relative;
    top: 18rem;
    left: 5rem;
    color:rgb(90, 88, 88);
    font-weight: 700;
    font-family: outfit;
    font-size: 20px;
}

#send {
    position: relative;
    top: 16rem;
    left: 20rem;
    font-family: outfit;
    color: white;
    font-size: 20px;
    background-color: rgb(65, 173, 223);
    width: 9vw;
    height: 6vh;
    border-radius: 10%;
    border-bottom: 2px solid rgb(65, 173, 223);
}


/* .otherblock {
    .block {
        margin: 10px 10px auto;
        border: 1px solid lightgray;
        width: 30rem;
} */

/* box{
    padding: 1rem;
    border: 1px solid lightgray;
    width: 20rem;
    height: 5rem;
    background-color: rgb(55, 106, 173);
}

.box2{
    padding: 1rem;
    border: 1px solid lightgray;
    width: 20rem;
    height: 5rem;
    background-color: crimson;
}

.box3 {
    padding: 1rem;
    border: 1px solid lightgray;
    width: 20rem;
    height: 5rem;
    background-color: rgb(157, 220, 245);
} */